div#map_canvas {
    margin-bottom: 1.5em;
}

div.legend {
    background-color: #FFF;
    padding: 1em;
    padding-bottom: 0;
    margin-right: 1em;
    border: 1px solid #999;
    max-width: 25%;
}

div.legend p {
    font-size: .9em;
    line-height: .9em;
}

div.legend div.color {
    float: left;
    width: 20px;
    height: 1em;
    margin-right: .5em;
    border: 1px solid #ddd;
    vertical-align: text-top;
}

/* Admin overrides */
#ft-builder div.legend {
    padding-bottom: 1.5em;
}

#ft-builder div.legend h6 {
    font-size: 12px;
    margin: 0;
}