div.legend {
    background-color: #FFF;
    padding: .5em;
    margin-right: 1em;
    border: 1px solid #ddd;
}

div.legend p {
    font-size: .9em;
    line-height: .9em;
}

div.legend div.color {
    float: left;
    width: 20px;
    height: 1em;
    margin-right: .5em;
}